<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    
    <!-- Prod
    <add key="ServerAddress" value="https://live.wifidb.net" />
    <add key="ApiPath" value="/wifidb/api/v2/" />
    <add key="Username" value="ACalcutt" />
    <add key="ApiKey" value="NDQKXSFEHt8mRZRzDBWPwGAcD8bGNRT2NACTm7hbDYM2tNDDWbT1x6qTetfk2Hw9" />
    -->

    <!-- Dev -->
    <add key="ServerAddress" value="http://dev.randomintervals.com" />
    <add key="ApiPath" value="/wifidb/api/v2/" />
    <add key="Username" value="pferland" />
    <add key="ApiKey" value="GSn8NQeYzY8gq5Y8NFpf5gZZqH33kdBctEOwWzsOTmxCnrs4BYk32rgeNLNhLkzj" />
    <!-- -->

    <!-- Common Settings -->
    <add key="DefaultImportTitle" value="Default Import Title" />
    <add key="DefaultImportNotes" value="Default Import Notes for Import..." />
    <add key="UseDefaultImportValues" value="true" />
    <add key="AutoUploadFolder" value="true" />
    <add key="AutoUploadFolderPath" value="d:\waiting_imports\" />
    <add key="ArchiveImports" value="true" />
    <add key="ArchiveImportsFolderPath" value="d:\archived_imports\" />
  </appSettings>
</configuration>