<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerAddress" value="Very" />
    <add key="ApiPath" value="Easy" />
    <add key="Username" value="Easy" />
    <add key="ApiKey" value="Easy" />
    <add key="DefaultImportTitle" value="Easy" />
    <add key="DefaultImportNotes" value="Easy" />
    <add key="UseDefaultImportValues" value="Easy" />
    <add key="AutoUploadFolder" value="Easy" />
    <add key="AutoUploadFolderPath" value="Easy" />
    <add key="ArchiveImports" value="Easy" />
    <add key="ArchiveImportsFolderPath" value="Easy" />
  </appSettings>
</configuration>